<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookaStay</title>
</head> -->
<% layout('/layouts/boilerplate') %>

    <body>
        <div class="row">
            <div class="col-8 offset-3 my-3">
                <h3>Listing Details</h3>
            </div>
            <div class="card col-6 offset-3">
                <img src="<%= listing.image %>" class="show-img mb-2" alt="listing_image">
                <div class="card-body">
                    <p class="card-text">
                        <b>
                            <%= listing.title %>
                        </b><br>
                        <%= listing.description %><br>
                            &#8377; <%= (listing.price).toLocaleString('en-in') %><br>
                                <%= listing.location %><br>
                                    <%= listing.country %>
                    </p>
                </div>
            </div>
            <div class="btns">
                <a class="btn btn-dark col-1 offset-3 edit-btn" href="/listings/<%= listing._id %>/edit"> <!--GET Req-->
                    Edit
                </a>
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                    <button class="btn btn-dark px-4 offset-3 delete-btn">Delete</button>
                </form>
            </div>
        </div><br>
    </body>
    <!-- </html>  -->